<% provide(:title, "ユーザ編集") %>

<div class="container">
  <div class="form-wrapper">
    <h1>ユーザ編集</h1>

    <%= form_with(url: user_path, method: :patch, scope: :user, local: true) do |f| %>
      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, "Emailアドレス" %>
      <%=  f.email_field :email, class: "form-control"  %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control"  %>

      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: "form-control"  %>

      <%= f.submit "ユーザーを編集", class: "btn" %>
    <% end %>
  </div>
</div>