<% provide(:title, "ユーザ登録") %>

<div class="container">
  <div class="form-wrapper">
    <h1>ユーザ登録</h1>
    <%= form_with(url: user_path, scope: :user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, "Emailアドレス" %>
      <%=  f.email_field :email, class: "form-control"  %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control"  %>

      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: "form-control"  %>

      <%= f.submit "新規ユーザーを登録", class: "btn" %>
    <% end %>
  </div>
</div>