<ul>
  <li><%= @film.name %></li>
  <li><%= @film.company %></li>
  <li><%= @film.iso %></li>
  <li><%= @film.created_at %></li>
  <li><%= link_to("編集する", edit_film_path(@film)) %></li>
  <li><%= link_to("削除する", @film, method: :delete, data: { confirm: "本当に消しますか？"}) %></li>

  <% if @film.photos.any? %>
    <h3>撮影記録</h3>
    <ol>
      <%= render @photos %>
    </ol>
    <%= will_paginate @photos %>
  <% end %>

</ul>



<%= form_with(model: @photo, local: true) do |f| %>
  <%= hidden_field_tag(:film_id, @film.id) %><!-- film.idを渡す -->
  <%= f.label :f_number, "F値" %>
  <%= f.text_field :f_number %>

  <%= f.label :shutter_speed, "シャッタースピード" %>
  <%=  f.text_field :shutter_speed %>

  <%= f.submit "撮影記録を登録" %>
<% end %>