<ul>
  <li><%= @film.name %></li>
  <li><%= @film.company %></li>
  <li><%= @film.iso %></li>
  <li><%= @film.created_at %></li>
  <li><%= link_to("編集する", edit_film_path(@film)) %></li>
  <li><%= link_to("削除する", @film, method: :delete, data: { confirm: "本当に消しますか？"}) %></li>
</ul>