<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to "Filcord", root_path, class: "logo" %>
      </div>

      <div class="header-right">
        <% if logged_in? %>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        <% end %>
      </div>
    </header>

    <% flash.each do |message_type, message| %>
      <div class="bootstrap">
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      </div>
    <% end %>
    
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
